body {
  font-family: "Lucida Console", Monaco, monospace;
  background: #f0f0f0;
  margin: 0;
  font-size: 16px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  margin-bottom: 0;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.8);
}

.content h1 {
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

.content p {
  font-weight: 500;
  text-align: justify;
  text-shadow: 0 0 1px rgba(0,0,0,0.4), 0 0 2px rgba(0,0,0,0.1);
}

.content input[type="text"] {
  border-radius: 6px;
  border: single 1px rgba(0,0,0,0.4);
  font-size: 1.5em;
  width: 300px;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px auto;
  background: transparent;
  text-shadow: 0 0 1px rgba(0,0,0,0.4);
}

.content input[type="submit"]{
  margin: 10px auto;
  font-weight: 600;
  font-size: 1.6em;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  border-radius: 4px;
  height: 40px;
  width: 120px;
/*  background-color: #B9E01F;*/
  background-color: #d0d0d0;
  display: block;
  border: none;
  box-shadow: 2px 2px 7px rgba(0,0,0, 0.4), 0 0 5px rgba(0,0,0,0.4);
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  width: 100%;
  height: 100%;
}

.actions {
  font-size: 0.8em;
  color: #999;
  text-shadow: 0 0 1px rgba(0,0,0,0.8);
  text-align: right !important;
}

::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}
