$def with (room)

<img id="background" src="/static/images/${room.image}.jpg" />

<div class="content">
  <h1> $room.name </h1>

  <p>
    $room.description
  </p>

  $if room.end_room:
    <p><a href="/">Play Again</a></p>
  $else:
    <p>
      <form action="/game" method="POST">
          <input placeholder="$room.placeholder" type="text" name="action"> <input type="submit" value="Enter!" >
      </form>
    </p>
    <p class="actions"><strong>Available actions: </strong>$room.actions</p>
</div>
